.game {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-left: 230px;
}

.board {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 180px); /* Adjust the size of each column */
  grid-template-rows: repeat(4, 180px); /* Adjust the size of each row */
  border-radius: 10px;
  width: 735px;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 10px solid #915733;
}
.button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.Validatebtn{
  height: 60px;
  width: 180px;
  background-color: #915733;
  color: white;
  border-radius: 6px;

}
.Validatebtn:hover{
  background: var(--correct);
  color: white;
  border-radius: 6px;
}
p {
  margin-top: 20px; /* Adjust margin as needed */
}

a {
  color: blue; /* Link color */
  text-decoration: underline; /* Underline the link */
}

a:hover {
  color: darkblue; /* Link color on hover */
}
